<head>
  <%= stylesheet_link_tag "/assets/stylsheets/custom.css.scss" %>
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
</head>
<div align="center">
  <p style="font-size: 36">Contact Me </p>
  <p>Currently, I'm available for interviews</p>
  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
